# packages to pip install that are useful for GeoClaw modeling
# (though most are not required)
numpy
matplotlib
netCDF4
scipy
xarray
pandas
geopandas
cartopy
folium
ffmpeg
pyproj
utm
contextily
rasterio
rioxarray
obspy
obspyh5
sympy
pyvista
geovista
ninja
cloudpathlib
meson-python
pytest
torch
torchvision
ipython
ipywidgets
jupyterlab
trame
trame_jupyter_extension
trame-vuetify
trame-vtk
myst-parser
mystmd
jupyterlab_myst
myst-nb
jupytext
jupyter-book
